# gradle cache and build files.
.gradle/
build/

# intellij project files.
.idea/
*.iml
*.ipr
*.iws

# eclipse project files.
.classpath
.project
.settings/

# mac files.
.DS_Store

# atlassian files.
atlassian*.xml

# test screenshots.
screenshot*.png

# ctags
tags

/subprojects/testfx-core/out/
